<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo refeicao:</strong>
  <%= @meal.tipo_refeicao %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @meal.horario %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @meal.descricao %>
</p>

<p>
  <strong>Diet:</strong>
  <%= @meal.diet %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
