<p id="notice"><%= notice %></p>

<h1>Weighings</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Peso atual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weighings.each do |weighing| %>
      <tr>
        <td><%= weighing.data %></td>
        <td><%= weighing.peso_atual %></td>
        <td><%= link_to 'Show', weighing %></td>
        <td><%= link_to 'Edit', edit_weighing_path(weighing) %></td>
        <td><%= link_to 'Destroy', weighing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weighing', new_weighing_path %>
